* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}
h1, h2, h3, a {
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}
header {
    background-color: #2E323F;
    color: #fff;
    min-height: 60px;
    display: flex;
    align-items: center;
}
span {
    color: #A59678;
}

/* reausable components */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    border-radius: 100px;
    padding: .15em 1.1em;
    background-color: #A59678;
    display: inline-block;
}

/* header */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.main-nav li {
    margin-right: 1.5em;
}
.main-nav li:last-child {
    margin: 0;
}
.menu-hidden {
    font-size: 1.8em;
}
/* header end */

/* above the fold */
.above-flex {
    display: flex;
    flex-direction: column;
    align-items: center
}
.above-the-fold {
    padding: 3em 0;
    background-color: #3B4050;
    color: #fff;
    width: 100%;
}
.above__text {
    width: 100%;
}
.heading {
    font-size: 2rem;
    line-height: 1.8em;
    margin-bottom: 2em;
}
.above__text {
    font-size: 1.3rem;
}
.above__text .btn {
    margin-top: 1em;
}

/* media queries mobile first */
@media (min-width: 200px) {
    /* header */
    .menu-hidden {
        display: block;
    }
    .main-nav {
        display: none;
    }
    /* end header */
}
@media (min-width: 700px) {
    /* header */
    .menu-hidden {
        display: none;
    }
    .main-nav {
        display: flex;
    }
    /* above the fold */
    .above-flex {
        flex-direction: row;
    }
}
@media (min-width: 1000px) {
    /* above the fold */
    .above-the-fold {
        padding: 4em 0 9em 0;
    }
    .above-the-fold h1 {
        font-size: 5rem;
        line-height: 1.09em;
        max-width: 10em;
    }
    .above__text {
        font-size: 1.335em;
        margin-left: 3em;
        margin-top: 6em;
        line-height: 1.4em;
    }
    .above__text .btn {
        text-transform: uppercase;
        margin-top: 1em;
        padding: .3em 1.3em;
    }
}

