* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}
h1, h2, h3, a {
    font-family: 'Oswald', sans-serif;
}
h2, h3, h4 {
    color: #A59678;
    margin-bottom: .7em;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}
header {
    background-color: #2E323F;
    color: #fff;
    min-height: 60px;
    display: flex;
    align-items: center;
}
span {
    color: #A59678;
}
/* reset image */
img {
    max-width: 100%;
    display: block;
    margin: 2em 0;
}

/* reausable components */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    border-radius: 100px;
    padding: .15em 1.1em;
    background-color: #A59678;
    display: inline-block;
}

/* header */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.main-nav li {
    margin-right: 1.5em;
}
.main-nav li:last-child {
    margin: 0;
}
.menu-hidden {
    font-size: 1.8em;
    cursor: pointer;
}
.cross-hidden {
    display: none;
    font-size: 2.25em;
    cursor: pointer;
}
/* header end */

/* above the fold */
.above-flex {
    display: flex;
    flex-direction: column;
    align-items: center
}
.above-the-fold {
    padding: 3em 0;
    background-color: #3B4050;
    color: #fff;
    width: 100%;
}
.above__text {
    width: 100%;
}
.heading {
    font-size: 2rem;
    line-height: 1.8em;
    margin-bottom: 2em;
}
.above__text {
    font-size: 1.3rem;
}
.above__text .btn {
    margin-top: 1em;
}

/* above the fold END */

/* SEction Stregth */
.p-of-strength {
    background-color: #f1f1f1;
    color: #000;
    padding: 100px 0;
}
.strength {
    margin-bottom: 1em;
}

/* MAIN CONTENT SECTION */

.hard {
    padding: 50px 0;
}
.aside__card {
    background-color: #3B4050;
    color: #fff;
    text-align: center;
    margin: 1em 0;
    padding: 1em 2em 2em 2em;
}
.aside__card h3 {
    color: #fff;
}

.back-to-top {
    background-color: #2E323F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 0;
    position: fixed;
    right: 2%;
    top: 85%;
}
.fa-chevron-up {
    color: #A59678;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 28px;
}
footer {
    background-color: #3B4050;
    padding: 5em 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

footer a {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, .7);
}

footer ul li {
    margin: 1em 0;
}

footer h2 {
    text-align: center;
    color: #fff;
    font-size: 3em;
    margin-bottom: 2em;
}
footer h4 {
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.footer__text + .footer__text {
    margin-left: 5em;
}

/* javascript classes added at event click */
.d-flex {
    display: flex!important;
    flex-direction: column;
    font-size: 2em;
}
.margin-js {
    margin: 0 0 1em 0!important;
}
.height-js {
    height: 100vh;
}
.d-none-js {
    display: none!important;
}
.width-js {
    width: 100%;
}
.active-js {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
}

/* animation on cross */
.fa-times:hover {
    transition: all .3s ease-out;
    transform: rotate(45deg);
}

/* media queries mobile first */
@media (min-width: 200px) {
    /* header */
    .menu-hidden {
        display: block;
    }
    .main-nav {
        display: none;
    }
    /* end header */
}
@media (min-width: 700px) {
    /* header */
    .menu-hidden {
        display: none;
    }
    .main-nav {
        display: flex;
    }
    /* above the fold */
    .above-flex {
        flex-direction: row;
    }
    /* stregth */
    .strength-flex {
        display: flex;
    }
    .strength {
        text-align: center;
        width: 100%;
    }
    .strength + .strength {
        margin-left: 2em;
    }
    /* aside */
    .aside-flex {
        display: flex;
        margin-top: 2em;
    }
    .aside__card {
        flex-basis: 100%;
        margin: 0 1em;
    }
}
@media (min-width: 1000px) {
    /* above the fold */
    .above-the-fold {
        padding: 4em 0 9em 0;
    }
    .above-the-fold h1 {
        font-size: 5rem;
        line-height: 1.09em;
        max-width: 10em;
    }
    .above__text {
        font-size: 1.335em;
        margin-left: 3em;
        margin-top: 6em;
        line-height: 1.4em;
    }
    .above__text .btn {
        text-transform: uppercase;
        margin-top: 1em;
        padding: .3em 1.3em;
    }
    h3 {
        font-size: 1.875rem;
    }

    .all-content {
        display: flex;
    }
    .aside-flex {
        flex-direction: column;
    }
    .aside__card {
        flex-basis: 100%;
        margin: .6em 2em;
    }
    .footer-inner-container {
        display: flex;
    }
    .footer__text {
        flex-basis: 20%;
    }
    .footer__text:first-child {
        flex-basis: 50%;
    }
}

@media (max-width: 1000px ) {
    footer h4 {
        margin-top: 2em;
    }
    .footer__text + .footer__text {
        margin: 0; 
    }
}

